:root {
    --white: #FFFFFF;
    --gray-100: #d5e1ef;
    --blue-100: hsl(220, 15%, 55%);
    --blue-500: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-100);
}

.card {
    background: var(--white);
    width: 320px;
    height: 497px;
    margin: 9.5rem auto auto auto;
    padding: 16px;
    border-radius: 20px;
}

.image-qr-code {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}