:root {
    --white: #FFFFFF;
    --gray-100: #d5e1ef;
    --gray-200: #7D889E;
    --blue-500: #1F314F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-100);
}

.card {
    background: var(--white);
    width: 320px;
    height: 497px;
    margin: 9.5rem auto auto auto;
    padding: 16px;
    border-radius: 20px;
}

.image-qr-code {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--gray-200);
    margin: 16px;

}

.description {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--gray-200);
    letter-spacing: 0.19px;
    text-decoration: none;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0 16px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: var(--blue-500);
}